*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.main-wrapper{
    height: 100vh;
    background-color: red;
}




/* for my media query */
@media only screen and (max-width: 768px) {
  .main-wrapper{
    background-color: rgb(2, 67, 2);
    color: white;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .header-img{
    background-color: white;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    max-width: 100px;
  }
  .header-img img {
    /* background-color: white; */
    width: 50px;
    max-width: 100px;
    overflow: hidden;
  }
  .headerh1{
    color: white;
    margin: 20px;
  }
  .headerh3{
    color: white;
    margin-left: 20px;
    font-family: sans-serif;
    font-style: italic;
  }
  .card{
    margin: 20px;
    border-radius: 20px;
    height: fit-content;
    background-color: rgb(110, 179, 6);
    text-align: center;
    padding: 20px;
  }
  .card h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .cardh5{
    color: red;
    font-weight: 100;
    font-style: italic;
    margin-top: -10px;
  }
  .card h5{
    font-size: 10px;
    margin-bottom: 20px;
  }
  .content{
    display: flex;
    margin: auto;
    gap: 50px;
    width: fit-content;
  }
  .content img{
    width: 50px;
  }
  .content p{
    font-size:10px;
    font-weight: 900;
  }
  .summary-sec{
    height: 100vh;
    border-radius: 20px;
    background-color: white;
  }
  .summary-sec h4{
    color: black;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 10px;
  }
  .sum-sec{
    color: black;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
  }
  .sum-sec h5{
    color: green;
  }
}
